.container-button {
    width: calc(35% - 40px);
    height: 85vh;
    background-color: aqua;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-button-select {
    flex-direction: column;
    display: flex;
    margin: 25px 20px;
    gap: 10px;
}

.container-button-action {
    flex-direction: column;
    display: flex;
    margin: 25px 20px;
    gap: 10px;
}

@media (max-width: 500px) {
    .container-button-select {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 40%;
        width: auto;
        margin: 0;
    }

    .container-button-action {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 40%;
        width: auto;
        margin: 0;
    }

    .container-button {
        width: auto;
        height: 15vh;
    }
}

/* grid-template-rows: repeat(2, 1fr); */