.container-graph {
    width: 65%;
    border: none;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 40px 0px;
}

.graph {
    margin: 30px;
}

@media (max-width: 890px) {
    .container-graph {
        margin: 5% 20%;
    }

}