#root {
  margin: 25px;
  position: relative;
  background-color: #EEE;
  border-radius: 40px;
}

body {
  background-color: #D1DAFF;
  margin: 0;
  font-family: 'Hind Vadodara', sans-serif;
  overflow: hidden;
}

.tab-header {
  justify-content: end;
  display: flex;
  height: 5vh;
  background-color: brown;
}

.tab {
  width: 50%;
  height: 6vh;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: white;
  border-color: white;
  color: #8B8A8C;
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}

.active-tab {
  color: black;
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  border-top-color: #4981F2;
  border-bottom-color: white;
  border-top-width: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  width: 50%;
  height: 6vh;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: white;
}

.container-tab {
  display: flex;
  width: 50%;
  background-color: chocolate;
  gap: 5px;
}

.container-chart {
  background-color: yellowgreen;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 890px) {
  .container-chart {
    flex-direction: column;
  }

}